*{
    box-sizing: border-box;
 }
 body{
    background-image: url(../images/qbkls.png)
 }
 
 header{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 5 pts;
    clear: both;
    display: inline-block;
    border-bottom: 2px solid #dddddd;
    z-index: 5;
 }
 
 h1{
    background-color: #4aaaa5;
    color: white;
    width: 25%;
    display:inline-block;
    margin: 0;
    height: 40.95px;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 21pt;
 }
 
 .wrapper {
    height: auto !important;
  
    /* Box-model */
    min-height: 100%;
  
    /* Positioning */
    margin: 0 auto -100px;
 }
 
 .container {
    /* Box-model */
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    clear: both;
  }
 
 #content{
    float: left;
    width: 100%;
    max-width: 960px;
    margin-top: 5%;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
 }
 
 #form{
    width: 960px;
 }
 
 h2{
    color: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-color: grey;
    margin-left:10pt;
    margin-right: 10pt;
    font-family: Georgia, Times, Times New Roman, serif;
 }
 
 
 footer{
   position:fixed;
   bottom:0;
   left:0;
   width:100%;
   height:50px;
   background-color: #666666;
   color:white;
   text-align: center;
   border-top: solid 5px #4aaaa5;
   font-family: Georgia, Times, Times New Roman, serif;
   z-index: 5;
 }
 
 a:hover{
    background-color: #4aaaa5;
 }
 
 .navLinks{
    float:right;
    height: 40.95px;
    font-size: 12pt;
    word-spacing: 4pt;
    line-height: 2;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
 }
 
 .navWrapper{
    width:960px;
    margin: 0 auto;
 }
 
 
 .overlay{
    background-color: #4aaaa5;
    z-index: 2;
    bottom: 50pt;
    /* padding: 10pt; */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color:white;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    padding: 10pt;
    position: relative;
 }
 
 .picdiv{
  /* Positioning */
  position: relative;
  float: left;
 
  /* Box-model */
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
 }
 
 .picture{
   /* Box-model */
   width: 100%;
 
   /* Visual */
   border: 0 none;
    margin-left: 10px;
   /* Misc */
   opacity: 0.8;
 }
 
 
 @media screen and(max-width: 980px){
    #content {width:100%;
        margin:auto;
    }
    
    
    #footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width:100%;
        display:block;
    }
 
    .navWrapper{
        position:fixed;
        width:100%;
 
    }
    
    h1{
       display:block;
        width:auto;
    }
 
    /* #container{
        float:none;
        width:auto;
    } */
  
 
    body{
        padding:0px;
        margin:0;
    }
    
  }
 
 @media screen and(max-width: 768px){
    #content {width:100%;
        margin:auto;
    }
    
    
    #footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width:auto;
    }
 
    .navWrapper{
        position:fixed;
        width:100%;
 
    }
    
    h1{
      
        width:auto;
    }
  
 
    body{
        padding:0px;
        margin:0px;
    }
    
  }
 
 @media only screen and (max-width: 600px) {
    #content {
        width:100%;
        
    }
    
 
    #footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width:100%;
    }
 
    .navWrapper{
        
        width:100%;
 
    }
    
    h1{
        width:auto;
    }
 
 
 
    body{
        padding:0px;
        margin:0px;
    }
}