body{
    background-image: url(../images/qbkls.png)
}

header{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 5%;
    padding: 5pts;
    clear: both;
    display: inline-block;
    border-bottom: 2px solid #cccccc; 
}

h1{
    background-color: #4aaaa5;
    color: white;
    width: 25%;
    display:inline-block;
    margin: 0;
    height: 40.95px;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 21pt;
}

.wrapper{
    /* position:absolute;
    left: 25%;
    top: 30%; */
   margin:0 auto;
}

#content{
    width: 960px;
    margin: 200px auto 0px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    height: 50%;
}

h2{
    color: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-color: grey;
    margin: 5px;
    font-family: Georgia, Times, Times New Roman, serif;
}

footer{
   position:absolute;
   bottom:0;
   left:0;
   width:100%;
   height:50px;
   background-color: #666666;
   color:white;
   text-align: center;
   border-top: solid 5px #4aaaa5;
   font-family: Georgia, Times, Times New Roman, serif;

}

a:hover{
    background-color: #4aaaa5;
}

.navLinks{
    float:right;
    height: 40.95px;
    font-size: 12pt;
    word-spacing: 4pt;
    line-height: 2;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.navWrapper{
    width:960px;
    margin: 0 auto;
}

#picture{
    padding: 10pt;
    float: left;
}

.clearfix { clear: both; }

p{
    margin:5px;
    padding-top:10px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

/* a{ */
    /* font-family: Arial, Helvetica Neue, Helvetica, sans-serif; */
/* } */